{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="mb-4">
        <label for="category-select" class="form-label">{% trans "Select a category:" %}</label>
        <select class="form-select" id="category-select" onchange="location = this.value;">
            {% for cat in categories %}
                <option value="{% url 'category_detail' cat.slug %}" {% if cat.slug == category.slug %}selected{% endif %}>
                    {{ cat.name }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div id="topics_div" class="d-flex align-items-center" data="{{category.slug}}">
        <h1 id="category_name">{{ category.name }}</h1>
            {%if  user.is_authenticated %}
            <a id="new_topic_btn" href="{% url 'new_topic'%}" title="{% trans 'Create new topic' %}" data="{{user_id}}">
                <i class="add_button bi bi-plus-lg"></i>
            </a>
        {%endif%}
    </div>
    <p>{{ category.description }}</p>

    <h5>{% trans "Topics in" %} {{ category.name }}</h5>
    <ul id="topics" class="list-group mb-3">
    </ul>
{% endblock %}
