{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Categories" %}</h1>
    <ul class="list-group">
        {% for category in categories %}
            {% if category.name != 'My Topics' or user.is_authenticated %}
            <li class="list-group-item">
                <h5><a href="{% url 'category_detail' category.slug %}">{{ category.name }}</a></h5>
                <p>{{ category.description }}</p>
            </li>
            {% endif %}
        {% empty %}
        <li class="list-group-item">{% trans "No categories found." %}</li>
        {% endfor %}
    </ul>
{% endblock %}

