{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="mb-4">
        <label for="category-select" class="form-label">{% trans "Select a category:" %}</label>
        <select class="form-select" id="category-select" onchange="location = this.value;">
            {% for cat in categories %}
                <option value="{% url 'category_detail' cat.slug %}" {% if cat.slug == category.slug %}selected{% endif %}>
                    {{ cat.name }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="d-flex align-items-center">
        <h1 id="category_name">{{ category.name }}</h1>
            {%if  user.is_authenticated %}
            <a href="{% url 'new_topic'%}" title="{% trans 'Create new topic' %}">
                <i class="add_button bi bi-plus-lg"></i>
            </a>
        {%endif%}
    </div>
    <p>{{ category.description }}</p>

    <h5>{% trans "Topics in" %} {{ category.name }}</h5>
    <ul id="topics" class="list-group mb-3">
        {% for topic in topics %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'topic_detail' topic.slug %}">{{ topic.title }}</a>
            <div class="d-flex flex-column align-items-end">
                <p class="text-muted mb-0">{% trans "Posted by" %} {{ topic.author }} {{topic.created_at}}</p>
                <span class="badge bg-secondary">{{ topic.replies.count }} {% trans "Replies" %}</span>
            </div>
        </li>
        {% empty %}
        <li class="list-group-item">{% trans "No topics in this category." %}</li>
        {% endfor %}
    </ul>
{% endblock %}
