{% extends 'base.html' %}
{% load custom_filters %}
{% load i18n %}

{% block content %}
    <h2 class="form__title text-center">{% trans "Sign Up" %}</h2>
    <form id="signupForm" method="post" class="form">
        {% csrf_token %}
        
        <div class="form__item">
            <label for="{{ form.username.id_for_label }}" class="form__label">{% trans "Username" %}</label>
            {{ form.username|add_class:"form__input" }}
            {% if form.username.errors %}
                <div class="alert">{{ form.username.errors }}</div>
            {% endif %}
        </div>

        <div class="form__item">
            <label for="{{ form.email.id_for_label }}" class="form__label">{{ form.email.label }}</label>
            {{ form.email|add_class:"form__input" }}
            {% if form.email.errors %}
                <div class="alert">{{ form.email.errors }}</div>
            {% endif %}
        </div>

        <div class="form__item">
            <label for="{{ form.password1.id_for_label }}" class="form__label">{% trans "Password" %}</label>
            {{ form.password1|add_class:"form__input" }}
            {% if form.password1.errors %}
                <div class="alert">{{ form.password1.errors }}</div>
            {% endif %}
        </div>

        <div class="form__item">
            <label for="{{ form.password2.id_for_label }}" class="form__label">{% trans "Confirm password" %}</label>
            {{ form.password2|add_class:"form__input" }}
            {% if form.password2.errors %}
                <div class="alert">{{ form.password2.errors }}</div>
            {% endif %}
        </div>

        <div class="form__item" style="text-align: right;">
            <button type="submit" class="form__button">{% trans "Sign Up" %}</button>
        </div>
    </form>
    <p>{% trans "Already have an account?" %} <a href="{% url 'login' %}">{% trans "Log in" %}</a></p>
{% endblock %}
