/* styles.css */

/* Block: form */
.form {
    max-width: 400px;
    margin: auto;      /* Center the form */
}

/* Block: form-item (Element) */
.form__item {
    display: flex;
    flex-direction: column;  /* Stack label and input vertically */
    margin-bottom: 15px;     /* Space between form items */
}

/* Label for form elements (Modifier) */
.form__label {
    margin-bottom: 5px;  /* Space between label and input */
}

/* Input fields (Element) */
.form__input {
    padding: 10px;       /* Input padding */
    border: 1px solid #ccc;  /* Input border */
    border-radius: 4px;  /* Rounded corners */
    width: 100%;         /* Full width */
}

/* Button (Modifier) */
.form__button {
    margin-top: 15px;    /* Space above button */
    padding: 10px 15px;  /* Button padding */
    border: none;        /* No border */
    background-color: #007bff; /* Bootstrap primary color */
    color: white;        /* Text color */
    cursor: pointer;     /* Pointer cursor on hover */
}

.alert {
    color: red; /* Alert text color */
}

.add_button {
   font-size: 1.5rem; 
   color: green;
   margin-left: 0.25em;
}

.back_arrow {
    position: relative;
    z-index: 2;

}

.active-border {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

textarea.form-control:focus {
    box-shadow: none; /* Remove any box shadow that may appear on focus */
}